
.page{
  height: 100vh;
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  height: 375px;
  width: 325px;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}
.card .top{
  height: 35%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center; 
}

.image{
  height: 125px;
  width: 125px;
  background-size: cover;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid rgb(7, 7, 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img{
  height: 123px;
  width: 123px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(255, 251, 251);
}

.card .title{
  height: 15%;
  width: 100%;
  /* border: 1px solid red; */
  bottom: 20px;
  top: 0;
}

.card .title #name{
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.card .title #designation{
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.card .social-media{
  height: 15%;
  width: 100%;
  /* border: 1px solid rgb(0, 255, 89); */
  margin: 15px 0px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
}

.card .social-media .app{
  height: 35px;
  width: 35px;
  border: 1px solid black; 
  margin-left: 8px;
  border-radius: 50%;
}

.card .social-media .app i{
  margin-top: 8px;
  font-size: 20px;
}

.card .btns{
  height: 12%;
  width: 100%;
  /* border: 1px solid rgb(0, 21, 255); */
  padding: 5px 7.5px;
}

.btns button{
  height: 25;
  width: 118px;
  border-radius: 20px;
}

.card .lcs{
  /* height: 11%; */
  width: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  /* border: 1px solid rgb(0, 21, 255); */
  padding: 0px 20px;
  margin: 15px 0px;
  display: flex;
}

.card .lcs .task{
  display: inline;
  height: 23px;
  width: 100px;
 
}

.card .lcs .border-btn{
  border-right: 1px solid black;
}